In [26]:
import numpy as np 
import pandas as pd

In [27]:
movies = pd.read_csv('movies.csv')

In [28]:
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [29]:
movies.dropna(inplace=True)

In [30]:
movies = movies[['rating','genre','name','director','writer','star','country']]

In [31]:
movies.head()

,rating,genre,name,director,writer,star,country
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States

In [32]:
movies['tag']=movies['rating']+movies['genre']+movies['director']+movies['writer']+movies['star']+movies['country']

In [33]:
movies.head()

,rating,genre,name,director,writer,star,country,tag
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,RDramaStanley KubrickStephen KingJack Nicholso...
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,RAdventureRandal KleiserHenry De Vere Stacpool...
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PGActionIrvin KershnerLeigh BrackettMark Hamil...
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PGComedyJim AbrahamsJim AbrahamsRobert HaysUni...
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,RComedyHarold RamisBrian Doyle-MurrayChevy Cha...

In [34]:
movies.drop(columns=['tag'])

,rating,genre,name,director,writer,star,country
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States
...,...,...,...,...,...,...,...
7648,R,Action,Bad Boys for Life,Adil El Arbi,Peter Craig,Will Smith,United States
7649,PG,Action,Sonic the Hedgehog,Jeff Fowler,Pat Casey,Ben Schwartz,United States
7650,PG,Adventure,Dolittle,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States
7651,PG,Adventure,The Call of the Wild,Chris Sanders,Michael Green,Harrison Ford,Canada
7652,Not Rated,Action,The Eight Hundred,Hu Guan,Hu Guan,Zhi-zhong Huang,China

In [35]:
movies['tag'] = movies['rating'].map(str) + movies['genre'].map(str) + movies['director'].map(str)+movies['writer'].map(str)+movies['star'].map(str) +movies['country'].map(str)

In [36]:
movies.head()

,rating,genre,name,director,writer,star,country,tag
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,RDramaStanley KubrickStephen KingJack Nicholso...
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,RAdventureRandal KleiserHenry De Vere Stacpool...
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PGActionIrvin KershnerLeigh BrackettMark Hamil...
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PGComedyJim AbrahamsJim AbrahamsRobert HaysUni...
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,RComedyHarold RamisBrian Doyle-MurrayChevy Cha...

In [37]:
movies.drop(columns=['tag'])

,rating,genre,name,director,writer,star,country
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States
...,...,...,...,...,...,...,...
7648,R,Action,Bad Boys for Life,Adil El Arbi,Peter Craig,Will Smith,United States
7649,PG,Action,Sonic the Hedgehog,Jeff Fowler,Pat Casey,Ben Schwartz,United States
7650,PG,Adventure,Dolittle,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States
7651,PG,Adventure,The Call of the Wild,Chris Sanders,Michael Green,Harrison Ford,Canada
7652,Not Rated,Action,The Eight Hundred,Hu Guan,Hu Guan,Zhi-zhong Huang,China

In [38]:
movies['tag'] = movies['rating'].map(str) +' '+ movies['genre'].map(str)+' ' + movies['director'].map(str)+' '+movies['writer'].map(str)+' '+movies['star'].map(str)+' ' +movies['country'].map(str)

In [39]:
movies.head()

,rating,genre,name,director,writer,star,country,tag
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,R Drama Stanley Kubrick Stephen King Jack Nich...
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,R Adventure Randal Kleiser Henry De Vere Stacp...
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PG Action Irvin Kershner Leigh Brackett Mark H...
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PG Comedy Jim Abrahams Jim Abrahams Robert Hay...
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,R Comedy Harold Ramis Brian Doyle-Murray Chevy...

In [40]:
movies['write']=movies['writer']

In [41]:
movies.head()

,rating,genre,name,director,writer,star,country,tag,write
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,R Drama Stanley Kubrick Stephen King Jack Nich...,Stephen King
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,R Adventure Randal Kleiser Henry De Vere Stacp...,Henry De Vere Stacpoole
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PG Action Irvin Kershner Leigh Brackett Mark H...,Leigh Brackett
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PG Comedy Jim Abrahams Jim Abrahams Robert Hay...,Jim Abrahams
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,R Comedy Harold Ramis Brian Doyle-Murray Chevy...,Brian Doyle-Murray

In [43]:
movies['write'] = movies['write'].str.strip()

In [44]:
movies.head()

,rating,genre,name,director,writer,star,country,tag,write
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,R Drama Stanley Kubrick Stephen King Jack Nich...,Stephen King
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,R Adventure Randal Kleiser Henry De Vere Stacp...,Henry De Vere Stacpoole
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PG Action Irvin Kershner Leigh Brackett Mark H...,Leigh Brackett
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PG Comedy Jim Abrahams Jim Abrahams Robert Hay...,Jim Abrahams
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,R Comedy Harold Ramis Brian Doyle-Murray Chevy...,Brian Doyle-Murray

In [45]:
movies['write'] = movies['write'].str.replace(' ', '')

In [46]:
movies.head()

,rating,genre,name,director,writer,star,country,tag,write
0,R,Drama,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,R Drama Stanley Kubrick Stephen King Jack Nich...,StephenKing
1,R,Adventure,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,R Adventure Randal Kleiser Henry De Vere Stacp...,HenryDeVereStacpoole
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,PG Action Irvin Kershner Leigh Brackett Mark H...,LeighBrackett
3,PG,Comedy,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,PG Comedy Jim Abrahams Jim Abrahams Robert Hay...,JimAbrahams
4,R,Comedy,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,R Comedy Harold Ramis Brian Doyle-Murray Chevy...,BrianDoyle-Murray

In [47]:
movies['writer'] = movies['writer'].str.replace(' ', '')
movies['director'] = movies['director'].str.replace(' ', '')
movies['star'] = movies['star'].str.replace(' ', '')
movies['country'] = movies['country'].str.replace(' ', '')

In [48]:
movies.head()

,rating,genre,name,director,writer,star,country,tag,write
0,R,Drama,The Shining,StanleyKubrick,StephenKing,JackNicholson,UnitedKingdom,R Drama Stanley Kubrick Stephen King Jack Nich...,StephenKing
1,R,Adventure,The Blue Lagoon,RandalKleiser,HenryDeVereStacpoole,BrookeShields,UnitedStates,R Adventure Randal Kleiser Henry De Vere Stacp...,HenryDeVereStacpoole
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,IrvinKershner,LeighBrackett,MarkHamill,UnitedStates,PG Action Irvin Kershner Leigh Brackett Mark H...,LeighBrackett
3,PG,Comedy,Airplane!,JimAbrahams,JimAbrahams,RobertHays,UnitedStates,PG Comedy Jim Abrahams Jim Abrahams Robert Hay...,JimAbrahams
4,R,Comedy,Caddyshack,HaroldRamis,BrianDoyle-Murray,ChevyChase,UnitedStates,R Comedy Harold Ramis Brian Doyle-Murray Chevy...,BrianDoyle-Murray

In [49]:
movies.drop(columns=['tag'])

,rating,genre,name,director,writer,star,country,write
0,R,Drama,The Shining,StanleyKubrick,StephenKing,JackNicholson,UnitedKingdom,StephenKing
1,R,Adventure,The Blue Lagoon,RandalKleiser,HenryDeVereStacpoole,BrookeShields,UnitedStates,HenryDeVereStacpoole
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,IrvinKershner,LeighBrackett,MarkHamill,UnitedStates,LeighBrackett
3,PG,Comedy,Airplane!,JimAbrahams,JimAbrahams,RobertHays,UnitedStates,JimAbrahams
4,R,Comedy,Caddyshack,HaroldRamis,BrianDoyle-Murray,ChevyChase,UnitedStates,BrianDoyle-Murray
...,...,...,...,...,...,...,...,...
7648,R,Action,Bad Boys for Life,AdilElArbi,PeterCraig,WillSmith,UnitedStates,PeterCraig
7649,PG,Action,Sonic the Hedgehog,JeffFowler,PatCasey,BenSchwartz,UnitedStates,PatCasey
7650,PG,Adventure,Dolittle,StephenGaghan,StephenGaghan,RobertDowneyJr.,UnitedStates,StephenGaghan
7651,PG,Adventure,The Call of the Wild,ChrisSanders,MichaelGreen,HarrisonFord,Canada,MichaelGreen
7652,Not Rated,Action,The Eight Hundred,HuGuan,HuGuan,Zhi-zhongHuang,China,HuGuan

In [50]:
movies['tag'] = movies['rating'].map(str) +' '+ movies['genre'].map(str)+' ' + movies['director'].map(str)+' '+movies['writer'].map(str)+' '+movies['star'].map(str)+' ' +movies['country'].map(str)

In [51]:
movies.drop(columns=['write'])

,rating,genre,name,director,writer,star,country,tag
0,R,Drama,The Shining,StanleyKubrick,StephenKing,JackNicholson,UnitedKingdom,R Drama StanleyKubrick StephenKing JackNichols...
1,R,Adventure,The Blue Lagoon,RandalKleiser,HenryDeVereStacpoole,BrookeShields,UnitedStates,R Adventure RandalKleiser HenryDeVereStacpoole...
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,IrvinKershner,LeighBrackett,MarkHamill,UnitedStates,PG Action IrvinKershner LeighBrackett MarkHami...
3,PG,Comedy,Airplane!,JimAbrahams,JimAbrahams,RobertHays,UnitedStates,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,R,Comedy,Caddyshack,HaroldRamis,BrianDoyle-Murray,ChevyChase,UnitedStates,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...
...,...,...,...,...,...,...,...,...
7648,R,Action,Bad Boys for Life,AdilElArbi,PeterCraig,WillSmith,UnitedStates,R Action AdilElArbi PeterCraig WillSmith Unite...
7649,PG,Action,Sonic the Hedgehog,JeffFowler,PatCasey,BenSchwartz,UnitedStates,PG Action JeffFowler PatCasey BenSchwartz Unit...
7650,PG,Adventure,Dolittle,StephenGaghan,StephenGaghan,RobertDowneyJr.,UnitedStates,PG Adventure StephenGaghan StephenGaghan Rober...
7651,PG,Adventure,The Call of the Wild,ChrisSanders,MichaelGreen,HarrisonFord,Canada,PG Adventure ChrisSanders MichaelGreen Harriso...
7652,Not Rated,Action,The Eight Hundred,HuGuan,HuGuan,Zhi-zhongHuang,China,Not Rated Action HuGuan HuGuan Zhi-zhongHuang ...

In [52]:
movies.drop(columns=['writer','director','star','genre','rating','country','write'])

,name,tag,write
0,The Shining,R Drama StanleyKubrick StephenKing JackNichols...,StephenKing
1,The Blue Lagoon,R Adventure RandalKleiser HenryDeVereStacpoole...,HenryDeVereStacpoole
2,Star Wars: Episode V - The Empire Strikes Back,PG Action IrvinKershner LeighBrackett MarkHami...,LeighBrackett
3,Airplane!,PG Comedy JimAbrahams JimAbrahams RobertHays U...,JimAbrahams
4,Caddyshack,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...,BrianDoyle-Murray
...,...,...,...
7648,Bad Boys for Life,R Action AdilElArbi PeterCraig WillSmith Unite...,PeterCraig
7649,Sonic the Hedgehog,PG Action JeffFowler PatCasey BenSchwartz Unit...,PatCasey
7650,Dolittle,PG Adventure StephenGaghan StephenGaghan Rober...,StephenGaghan
7651,The Call of the Wild,PG Adventure ChrisSanders MichaelGreen Harriso...,MichaelGreen
7652,The Eight Hundred,Not Rated Action HuGuan HuGuan Zhi-zhongHuang ...,HuGuan

In [53]:
movies.drop(columns=['write'])

,rating,genre,name,director,writer,star,country,tag
0,R,Drama,The Shining,StanleyKubrick,StephenKing,JackNicholson,UnitedKingdom,R Drama StanleyKubrick StephenKing JackNichols...
1,R,Adventure,The Blue Lagoon,RandalKleiser,HenryDeVereStacpoole,BrookeShields,UnitedStates,R Adventure RandalKleiser HenryDeVereStacpoole...
2,PG,Action,Star Wars: Episode V - The Empire Strikes Back,IrvinKershner,LeighBrackett,MarkHamill,UnitedStates,PG Action IrvinKershner LeighBrackett MarkHami...
3,PG,Comedy,Airplane!,JimAbrahams,JimAbrahams,RobertHays,UnitedStates,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,R,Comedy,Caddyshack,HaroldRamis,BrianDoyle-Murray,ChevyChase,UnitedStates,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...
...,...,...,...,...,...,...,...,...
7648,R,Action,Bad Boys for Life,AdilElArbi,PeterCraig,WillSmith,UnitedStates,R Action AdilElArbi PeterCraig WillSmith Unite...
7649,PG,Action,Sonic the Hedgehog,JeffFowler,PatCasey,BenSchwartz,UnitedStates,PG Action JeffFowler PatCasey BenSchwartz Unit...
7650,PG,Adventure,Dolittle,StephenGaghan,StephenGaghan,RobertDowneyJr.,UnitedStates,PG Adventure StephenGaghan StephenGaghan Rober...
7651,PG,Adventure,The Call of the Wild,ChrisSanders,MichaelGreen,HarrisonFord,Canada,PG Adventure ChrisSanders MichaelGreen Harriso...
7652,Not Rated,Action,The Eight Hundred,HuGuan,HuGuan,Zhi-zhongHuang,China,Not Rated Action HuGuan HuGuan Zhi-zhongHuang ...

In [54]:
movies.drop(columns=['writer','director','star','genre','rating','country','write'])

,name,tag
0,The Shining,R Drama StanleyKubrick StephenKing JackNichols...
1,The Blue Lagoon,R Adventure RandalKleiser HenryDeVereStacpoole...
2,Star Wars: Episode V - The Empire Strikes Back,PG Action IrvinKershner LeighBrackett MarkHami...
3,Airplane!,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,Caddyshack,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...
...,...,...
7648,Bad Boys for Life,R Action AdilElArbi PeterCraig WillSmith Unite...
7649,Sonic the Hedgehog,PG Action JeffFowler PatCasey BenSchwartz Unit...
7650,Dolittle,PG Adventure StephenGaghan StephenGaghan Rober...
7651,The Call of the Wild,PG Adventure ChrisSanders MichaelGreen Harriso...
7652,The Eight Hundred,Not Rated Action HuGuan HuGuan Zhi-zhongHuang ...

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [56]:
vector = cv.fit_transform(new['tags']).toarray()

NameError: name 'new' is not defined

In [57]:
movies=movies.drop(columns=['writer','director','star','genre','rating','country','write'])

In [58]:
movies.head()

,name,tag
0,The Shining,R Drama StanleyKubrick StephenKing JackNichols...
1,The Blue Lagoon,R Adventure RandalKleiser HenryDeVereStacpoole...
2,Star Wars: Episode V - The Empire Strikes Back,PG Action IrvinKershner LeighBrackett MarkHami...
3,Airplane!,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,Caddyshack,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...

In [59]:
vector = cv.fit_transform(movies['tag']).toarray()

In [60]:
vector.shape

(5421, 1000)

In [61]:
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
similarity = cosine_similarity(vector)

In [63]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.40824829, ..., 0.5       , 0.35355339,
        0.        ],
       [0.        , 0.40824829, 1.        , ..., 0.40824829, 0.28867513,
        0.33333333],
       ...,
       [0.        , 0.5       , 0.40824829, ..., 1.        , 0.35355339,
        0.        ],
       [0.        , 0.35355339, 0.28867513, ..., 0.35355339, 1.        ,
        0.        ],
       [0.        , 0.        , 0.33333333, ..., 0.        , 0.        ,
        1.        ]])

In [64]:
movies.head()

,name,tag
0,The Shining,R Drama StanleyKubrick StephenKing JackNichols...
1,The Blue Lagoon,R Adventure RandalKleiser HenryDeVereStacpoole...
2,Star Wars: Episode V - The Empire Strikes Back,PG Action IrvinKershner LeighBrackett MarkHami...
3,Airplane!,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,Caddyshack,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...

In [66]:
movies.shape

(5421, 2)

In [67]:
movies[movies['name'] == 'The Shining'].index[0]

0

In [68]:
movies[movies['name'] == 'The Blue Lagoon'].index[0]

1

In [126]:
def recommend(movie):
    index = movies[movies['name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.iloc[i[0]].title)

In [127]:
recommend('The Shining')

Track 29
Apartment Zero
The Secret Garden
Angels and Insects
Jude

In [77]:
movies.head()

,name,tag
0,The Shining,R Drama StanleyKubrick StephenKing JackNichols...
1,The Blue Lagoon,R Adventure RandalKleiser HenryDeVereStacpoole...
2,Star Wars: Episode V - The Empire Strikes Back,PG Action IrvinKershner LeighBrackett MarkHami...
3,Airplane!,PG Comedy JimAbrahams JimAbrahams RobertHays U...
4,Caddyshack,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...

In [78]:
movies.shape

(5421, 2)

In [111]:
movies['title']=movies['name']

In [117]:
movies=movies.drop(columns=['name'])

In [119]:
movies.head()

,tag,title
0,R Drama StanleyKubrick StephenKing JackNichols...,The Shining
1,R Adventure RandalKleiser HenryDeVereStacpoole...,The Blue Lagoon
2,PG Action IrvinKershner LeighBrackett MarkHami...,Star Wars: Episode V - The Empire Strikes Back
3,PG Comedy JimAbrahams JimAbrahams RobertHays U...,Airplane!
4,R Comedy HaroldRamis BrianDoyle-Murray ChevyCh...,Caddyshack

In [122]:
movies['name']=movies['title']

In [128]:
import pickle

In [130]:
pickle.dump(movies.to_dict(),open('movie_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))